{% extends 'base.html'  %}
{% block title %}Web UI create client{% endblock %}
{% block content %}
    <h1>Создать нового клиента</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Создать</button>
    </form>
{% endblock %}