{% extends 'base.html'  %}
{% block title %}Web UI edit client{% endblock %}
{% block content %}
    <h1>Изменить клиента</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Изменить</button>
    </form>
    <h3><a href="{% url 'delete_client' client.id %}">Удалить клиента</a></h3>
{% endblock %}