{% extends 'base.html'  %}
{% block title %}Web UI edit distribution{% endblock %}
{% block content %}
    <h1>Изменить рассылку</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Изменить</button>
    </form>
    <h3><a href="{% url 'delete_distribution' distribution.id %}">Удалить рассылку</a></h3>
{% endblock %}