{% extends 'base.html' %}
{% load static %}
{% block title %}Web UI create main{% endblock %}
{% block content %}
    <h1>Страница администрирования</h1>
    <h2>Общая статистика</h2>
    <p>Всего рассылок - {{ response.quantity_distributions }}</p>
    <p>Отправлено сообщений - {{ response.quantity_messages }}</p>
    <p>Успешных отправок - {{ response.successful_messages }}</p>
    <p>Неуспешных отправок - {{ response.unsuccessful_messages }}</p>
    {% if response.distributions %}
    <h2>Рассылки</h2>
    <table>
        <tr>
            <td>id</td>
            <td>начало рассылки</td>
            <td>конец рассылки</td>
            <td>текст рассылки</td>
            <td>успешных отправок</td>
            <td>неуспешных отправок</td>
            <td>всего отправок</td>
        </tr>
        {% for distribution in response.distributions %}
        <tr>
            <td>{{ distribution.id }}</td>
            <td><a href="{% url 'statistics_detail' distribution.id %}">{{ distribution.date_start }}</a></td>
            <td>{{ distribution.date_end }}</td>
            <td>{{ distribution.text|truncatechars:30 }}</td>
            <td>{{ distribution.successful_messages }}</td>
            <td>{{ distribution.unsuccessful_messages }}</td>
            <td>{{ distribution.quantity_messages }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}