{% extends 'base.html'  %}
{% block title %}Web UI list client{% endblock %}
{% block content %}
    {% if clients %}
    <h1>Выберите клиента</h1>
    {% for client in clients %}
        <p><a href="{% url 'edit_client' client.id %}">{{client}}</a></p>
    {% endfor %}
    {% else %}
        <h1>Клиентов пока нет</h1>
    {% endif %}
{% endblock %}