{% extends 'base.html'  %}
{% block title %}Web UI list distribution{% endblock %}
{% block content %}
    {% if distribution %}
        <h1>Выберите рассылку</h1>
        {% for mailing in distribution %}
            <p><a href="{% url 'edit_distribution' mailing.id %}">{{mailing}}</a></p>
        {% endfor %}
    {% else %}
        <h1>Рассылок пока нет</h1>
    {% endif %}
{% endblock %}