{% extends 'base.html' %}
{% load static %}
{% block title %}Web UI statistics detail{% endblock %}
{% block content %}
    <h1>Подробная статистика рассылки</h1>
        <table>
        <tr>
            <td>id</td>
            <td>начало рассылки</td>
            <td>конец рассылки</td>
            <td>успешных отправок</td>
            <td>неуспешных отправок</td>
            <td>всего отправок</td>
            <td>теги</td>
            <td>код оператора</td>
        </tr>
        <tr>
            <td>{{ response.id }}</td>
            <td>{{ response.date_start }}</td>
            <td>{{ response.date_end }}</td>
            <td>{{ response.successful_messages }}</td>
            <td>{{ response.unsuccessful_messages }}</td>
            <td>{{ response.quantity_messages }}</td>
            <td>
                {% for tag in response.tags %}
                    {{ tag }}<br>
                {% endfor %}
            </td>
            <td>{{ response.code_operator }}</td>
        </tr>
    </table>
    <h3>Текст</h3>
    <p>{{ response.text }}</p>
    <h3>Сообщения</h3>
    <table>
        <tr>
            <td>id</td>
            <td>дата отправки</td>
            <td>статус</td>
            <td>id рассылки</td>
            <td>клиент</td>
        </tr>
        {% for message in response.messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.date }}</td>
            <td>{{ message.status }}</td>
            <td>{{ message.distribution }}</td>
            <td>{{ message.client.phone_number }}</td>
        </tr>
            {% endfor %}

    </table>
{% endblock %}