nav {
    background-color: black;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 15px;
}
li {
    padding: 5px;
}
li a {
    text-decoration: none;
    color: white;
}
body {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border: black solid;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
td, tr {
    padding: 5px;
    border: black solid;
}