<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Web Ui администратор</a></li>
        <li><a href="{% url 'create_client' %}">Создать клиента</a></li>
        <li><a href="{% url 'list_client' %}">Редактировать клиента</a></li>
        <li><a href="{% url 'create_distribution' %}">Создать рассылку</a></li>
        <li><a href="{% url 'list_distribution' %}">Редактировать рассылку</a></li>
    </ul>
</nav>
{% block content %}

{% endblock %}
</body>
</html>